@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", sans-serif;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.btn {
  padding: 10px, 20px;
}
